.blog-list li {
    background: lightgreen;
}

.post-list {
    list-style-type: none;
}

.post-list-item {
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.post-list-item a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.post-list-item a:hover {
    color: #666666;
}

.post-section-list {
    list-style-type: none;
}

.post-section-list a {
    font-size: large;
    color: #333333;
    text-decoration: none;
}

.post-section-list a:hover {
    color: #666666;
}